name: Build
on: [ push ]
jobs:
  check:
    runs-on: ubuntu-latest
    continue-on-error: false
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.4"
          tools: phive
      - name: Download codesniffer
        run: composer require --dev squizlabs/php_codesniffer
      - name: check
        run: ./vendor/bin/phpcs
  test:
    runs-on: ubuntu-latest
    continue-on-error: false
    strategy:
      matrix:
        php-versions: [ '8.3', '8.4', '8.5' ]
    name: PHP ${{ matrix.php-versions }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: sodium
          ini-values: post_max_size=256M, short_open_tag=On
          coverage: xdebug
      - name: prepare
        run: composer update
      - name: test
        run: composer test
  analyze:
    needs: test
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.4"
          tools: phpstan
      - name: install
        run: composer update --no-dev
      - name: analyze
        run: phpstan
  coverage:
    needs: test
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    continue-on-error: false
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.4"
          coverage: xdebug
      - name: Install
        run: composer update
      - name: run testsuite
        run: vendor/bin/phpunit --coverage-clover clover.xml
      - name: Coveralls
        uses: coverallsapp/github-action@v2

